<div id="<%= dom_id survey %>" class="card mb-3">
  <div class="card-header">
    <%= survey.name %>
  </div>
  <div class="card-body">
    <table class="table table-bordered" style="table-layout: fixed;">
      <tr>
        <th><%= t('activerecord.attributes.survey.name') %></th>
        <td><%= survey.name %></td>
      </tr>
      <tr>
        <th><%= t('activerecord.attributes.survey.convert_url') %></th>
        <td><%= survey.convert_url %></td>
      </tr>
      <tr>
        <th><%= t('activerecord.attributes.survey.grades') %></th>
        <td>
          <%= survey.grades.map { |grade| t("views.grade_#{grade}") }.join(", ") %>
        </td>
      </tr>
      <tr>
        <th><%= t('activerecord.attributes.survey.subjects') %></th>
        <td>
          <%= survey.subjects.map { |subject| t("views.subject_#{subject}") }.join(", ") %>
        </td>
      </tr>
      <tr>
        <th><%= t('activerecord.attributes.survey.question_attributes') %></th>
        <td>
          <%= survey.question_attributes.join(", ") %>
        </td>
      </tr>
      <tr>
        <th><%= t('activerecord.attributes.survey.student_attributes') %></th>
        <td>
          <% survey.student_attributes.each do |category, attributes| %>
            <p>
              <%= category %>:
              <% attributes.sort {|(k1, v1), (k2, v2)| k1.to_i <=> k2.to_i }.to_h.each do |key, value| %>
                (<%= key %>) <%= value %>
              <% end %>
            </p>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('activerecord.attributes.survey.submittable') %></th>
        <td>
          <%= survey.submittable ? t('views.enabled') : t('views.disabled') %>
        </td>
      </tr>
      <tr>
        <th><%= t('activerecord.attributes.survey.held_on') %></th>
        <td>
          <%= survey.held_on %>
        </td>
      </tr>
    </table>

    <%= link_to users_admin_survey_path(@survey), class: 'btn btn-primary mb-2' do %>
      <i class="bi bi-files"></i> <%= t('views.submission_status') %>
    <% end %>

    <% if @survey.merged.nil? %>
      <%= link_to '#', class: 'btn btn-secondary mb-2' do %>
        <i class="bi bi-download"></i> <%= t('views.download_merged_results') %>
      <% end %>
    <% else %>
      <%= link_to download_merged_results_admin_survey_path(@survey),
            class: 'btn btn-primary mb-2' do %>
        <i class="bi bi-download"></i> <%= t('views.download_merged_results') %>
      <% end %>
    <% end %>

    <%= link_to download_definition_admin_survey_path(@survey),
          class: 'btn btn-primary mb-2', disabled: !@survey.merged do %>
      <i class="bi bi-download"></i> <%= t('views.download_definition') %>
    <% end %>

    <% if current_user.admin %>
      <hr />
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
        <%= button_to aggregate_results_admin_survey_path(@survey),
              class: "btn btn-primary", method: :patch,
              data: { turbo_confirm: t('messages.confirm_aggregation') } do %>
          <span class="show-when-enabled">
            <i class="bi bi-calculator"></i> <%= t('views.aggregate_results') %>
          </span>
          <span class="show-when-disabled">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <%= t('views.processing') %>...
          </span>
        <% end %>

        <%= button_to export_results_admin_survey_path(@survey),
              class: "btn btn-primary", method: :patch,
              data: { turbo_confirm: t('messages.confirm_exporting') } do %>
          <span class="show-when-enabled">
            <i class="bi bi-file-earmark-spreadsheet-fill"></i> <%= t('views.export_results') %>
          </span>
          <span class="show-when-disabled">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <%= t('views.processing') %>...
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
      <%= link_to edit_admin_survey_path(survey), class: "btn btn-warning" do %>
        <i class="bi bi-pencil"></i> <%= t('views.edit') %>
      <% end %>
      <% if current_user.admin %>
        <%= button_to admin_survey_path(@survey), method: :delete, class: "btn btn-danger",
              data: { turbo_confirm: t('messages.confirm_deletion') } do %>
          <i class="bi bi-trash"></i> <%= t('views.delete') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


