<div id="<%= dom_id survey %>" class="card">
  <div class="card-header">
    <%= survey.name %>
  </div>
  <div class="card-body">
    <table class="table table-bordered" style="table-layout: fixed;">
      <tr>
        <th><%= t("activerecord.attributes.survey.name") %></th>
        <td><%= survey.name %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.survey.convert_url") %></th>
        <td><%= survey.convert_url %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.survey.grades") %></th>
        <td>
          <%= survey.grades.map { |grade| t("views.grade_#{grade}") }.join(", ") %>
        </td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.survey.subjects") %></th>
        <td><%= survey.subjects %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.survey.question_attributes") %></th>
        <td><%= survey.question_attributes %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.survey.student_attributes") %></th>
        <td><%= survey.student_attributes %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.survey.submittable") %></th>
        <td>
          <%= survey.submittable ? t("views.enabled") : t("views.disabled") %>
        </td>
      </tr>
    </table>

    <%= link_to users_admin_survey_path(@survey), class: "btn btn-primary" do %>
      <i class="bi bi-files"></i> <%= t("views.submission_status") %>
    <% end %>

    <%= link_to download_definition_admin_survey_path(@survey),
      class: "btn btn-primary" do %>
      <i class="bi bi-download"></i> <%= t("views.download_definition") %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap mt-3">
  <%= link_to edit_admin_survey_path(survey), class: "btn btn-warning" do %>
    <i class="bi bi-pencil"></i> <%= t("views.edit") %>
  <% end %>
  <%= button_to survey, method: :delete, class: "btn btn-danger",
    data: { turbo_confirm: t("messages.confirm_deletion") } do %>
    <i class="bi bi-trash"></i> <%= t("views.delete") %>
  <% end %>
</div>
