<%= form_with(model: [:admin, result]) do |form| %>
  <% if result.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
        <% result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: @result.user.id %>
  <%= form.hidden_field :survey_id, value: @result.survey.id %>

  <div class="mb-3">
    <%= form.label :grade, class: "form-label" %>
    <%= form.select :grade, result.survey.grades.map{ |g| [t("views.grade_#{g}"), g] },
      {selected: params[:grade]}, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :subject, class: "form-label" %>
    <%= form.select :subject, result.survey.subjects.map{ |s| [t("views.subject_#{s}"), s] },
      {selected: params[:subject]}, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :file, class: "form-label" %>
    <%= form.file_field :file, class: "form-control", accept: ".xlsx",
      required: true %>
  </div>

  <div class="tb-3">
    <button class="btn btn-primary col-4 offset-4">
      <span class="show-when-enabled"><%= t('helpers.submit.create') %></span>
      <span class="show-when-disabled">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <%= t('views.processing') %>...
      </span>
    </button>
  </div>
<% end %>
