<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to root_path do %>
          <i class="bi bi-house-door"></i>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to admin_surveys_path do %>
          <%= t("activerecord.models.survey") %>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @survey.name, admin_survey_path(@survey) %>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to t('views.submission_status'), users_admin_survey_path(@survey) %>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to @user.name, admin_results_path(survey_id: @survey, user_id: @user.id) %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t("views.new_result") %>
      </li>
    </ol>
  </nav>
</div>

<div class="card">
  <div class="card-header">
    <%= t("views.new_result") %>
  </div>
  <div class="card-body">
  <%= render "form", result: @result %>
  </div>
</div>
