<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to root_path do %>
          <i class="bi bi-house-door"></i>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to groups_path do %>
          <%= t("activerecord.models.group") %>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @user.group do %>
          <%= @user.group.name %>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to users_path(group_id: @user.group_id) do %>
          <%= t("activerecord.models.user") %>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @user.name %>
      </li>
    </ol>
  </nav>
</div>

<%= render @user %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap mt-3">
  <%= link_to edit_user_path(@user), class: "btn btn-warning" do %>
    <i class="bi bi-pencil"></i> <%= t("views.edit") %>
  <% end %>
  <%= button_to @user, method: :delete, class: "btn btn-danger",
    data: { turbo_confirm: t("messages.confirm_deletion") } do %>
    <i class="bi bi-trash"></i> <%= t("views.delete") %>
  <% end %>
</div>
