<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <i class="bi bi-house-door"></i>
      </li>
    </ol>
  </nav>
</div>

<div class="card mb-3">
  <div class="card-header">
    Mark2 Analytics
  </div>
  <div class="card-body">
    <p>
      <%= t('views.welcome_message') %>
    </p>
    
    <% if user_signed_in? %>
      <div class="d-flex justify-content-center">
        <% if current_user.manager %>
          <%= link_to admin_surveys_path, class: 'btn btn-primary col-4 mx-2' do %>
            <i class="bi bi-clipboard"></i>
            <%= t('activerecord.models.survey') %>
          <% end %>
        <% else %>
          <%= link_to surveys_path, class: 'btn btn-primary col-4 mx-2' do %>
            <i class="bi bi-clipboard"></i>
            <%= t('activerecord.models.survey') %>
          <% end %>

          <%= link_to analyze_surveys_path, class: 'btn btn-primary col-4 mx-2' do %>
            <i class="bi bi-search"></i>
            <%= t('views.data_analysis') %>
          <% end %>
        <% end %>

        <% if current_user.admin %>
          <%= link_to admin_groups_path, class: 'btn btn-primary col-4 mx-2' do %>
            <i class="bi bi-box"></i>
            <%= t('activerecord.models.group') %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>
        <%= t('views.sign_in_message') %>
      </p>
      <%= form_tag('/auth/auth0', name: 'welcome_sign_in', method: :post,
            data: { turbo: false }) do %>
        <a href="#" onclick="document.welcome_sign_in.submit();" class="btn btn-primary col-4 offset-4">
          <%= t('views.sign_in') %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <%= t('views.documents') %>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <%= link_to 'https://mark2.sfc.keio.ac.jp/docs/mark2_analytics.pdf',
            class: 'btn btn-primary col-4', target: '_blank' do %>
        <i class="bi bi-filetype-pdf"></i> <%= t('views.user_manual') %>
      <% end %>
    </div>
  </div>
</div>
