<div id="<%= dom_id result %>">
  <p>
    <strong>Survey:</strong>
    <%= result.survey_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= result.user_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= result.grade %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= result.subject %>
  </p>

  <p>
    <strong>File:</strong>
    <%= result.file %>
  </p>

  <p>
    <strong>Parsed:</strong>
    <%= result.parsed %>
  </p>

  <p>
    <strong>Converted:</strong>
    <%= result.converted %>
  </p>

  <p>
    <strong>Messages:</strong>
    <%= result.messages %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= result.verified %>
  </p>

</div>
