<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to root_path do %>
          <i class="bi bi-house-door"></i>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to surveys_path do %>
          <%= t("activerecord.models.survey") %>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @survey do %>
          <%= @survey.name %>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t("views.new_result") %>
      </li>
    </ol>
  </nav>
</div>

<div class="card">
  <div class="card-header">
    <%= t("views.new_result") %>
  </div>
  <div class="card-body">
  <%= render "form", result: @result %>
  </div>
</div>
