<% @result.categories(params[:student_attributes]).each_with_index do |category, i| %>
  <div class="card card-primary">
    <div class="card-header">
      <h5 class="card-title"><%= category[:title] %></h5>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <tr>
          <th class="col-6 text-center">
            <%= category[:title] %>
          </th>
          <th class="col-3 text-center">
            <%= t("views.analysis.correct_rates") %>
          </th>
          <th class="col-3 text-center">
            <%= t("views.analysis.correct_rates") %>
            (<%= t("views.comparator") %>)
          </th>
        </tr>
        <% category[:values].each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td align="right">
              <% if value and !value.nan? %>
                <%= format("%.2f", value.round(2)) %> %
              <% else %>
                - %
              <% end %>
            </td>
            <td align="right">
              <% if @survey.aggregated and @survey.aggregated["categories"]["#{@result.grade}-#{@result.subject}-#{params[:comparator]}"][i]["values"][key] %>
                <%= format("%.2f", @survey.aggregated["categories"]["#{@result.grade}-#{@result.subject}-#{params[:comparator]}"][i]["values"][key].round(2)) %> %
              <% else %>
                - %
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
