<div id="<%= dom_id survey %>" class="card mb-3">
  <div class="card-header">
    <%= survey.name %>
  </div>
  <div class="card-body">
    <% if @results.count > 0 %>
      <% @results.each do |result| %>
        <div class="card border-success mb-3">
          <div class="card-header text-white bg-success">
            <%= t("views.grade_#{result.grade}") %> <%= t("views.subject_#{result.subject}") %>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <% result.messages.each do |message| %>
                <li class="list-group-item">
                  <%= message %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
              <%= link_to download_result_path(result), class: "btn btn-primary" do %>
                <i class="bi bi-download"></i> <%= t("views.download") %>
              <% end %>
              <% if survey.submittable %>
                <%= button_to result, method: :delete, class: "btn btn-danger",
                      data: { turbo_confirm: t("messages.confirm_deletion") } do %>
                    <i class="bi bi-trash"></i> <%= t("views.delete") %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-danger" role="alert">
        <%= t("views.no_data") %>
      </div>
    <% end %>
  </div>
  <% if survey.submittable %>
      <div class="card-footer">
        <%= link_to new_result_path(survey_id: survey.id), class: 'btn btn-primary' do %>
          <i class="bi bi-plus-lg"></i> <%= t('views.new_result') %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
