<div class="d-flex justify-content-between flex-wrap flex-md-nowrap
  align-items-center pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to root_path do %>
          <i class="bi bi-house-door"></i>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t("views.data_analysis") %>
      </li>
    </ol>
  </nav>
</div>

<div class="card mb-3">
  <div class="card-header">
    <%= t("views.data_analysis") %>
  </div>
  <div class="card-body">
    <%= form_with(method: :get, url: analyze_surveys_path) do |form| %>
      <div class="row mb-3">
        <%= form.label t("activerecord.models.survey"),
          class: "col-sm-3 col-form-label text-end" %>
        <div class="col-sm-9">
          <%= form.select :survey_id, @surveys.pluck(:name, :id),
            { selected: params[:survey_id] }, onchange: "this.form.requestSubmit()",
            class: "form-select" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label t("activerecord.attributes.survey.grades"),
          class: "col-sm-3 col-form-label text-end" %>
        <div class="col-sm-9">
          <%= form.select :grade, @survey.grades.map { |grade|
            [t("views.grade_#{grade}"), grade] },
            { selected: params[:grade] }, onchange: "this.form.requestSubmit()",
            class: "form-select" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label t("activerecord.attributes.survey.subjects"),
          class: "col-sm-3 col-form-label text-end" %>
        <div class="col-sm-9">
          <%= form.select :subject, @survey.subjects.map { |subject|
            [t("views.subject_#{subject}"), subject] },
            { selected: params[:subject] }, onchange: "this.form.requestSubmit()",
            class: "form-select" %>
        </div>
      </div>

      <div class="row mb-2">
        <%= form.label t("views.attributes"),
          class: "col-sm-3 col-form-label text-end" %>
        <div class="col-sm-9">
          <% @student_attributes.each_with_index do |options, i| %>
            <%= select_tag("student_attributes[]",
              options_for_select(options, params[:student_attributes].nil? ?
                0 : params[:student_attributes][i]),
              onchange: "this.form.requestSubmit()",
              class: "form-select mb-2") %>
          <% end %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label t("views.analysis_method"),
          class: "col-sm-3 col-form-label text-end" %>
        <div class="col-sm-9">
          <% if params[:subject] == "6" %>
            <%= form.select :method, [[t("views.analysis.pattern"), "pattern"],
              [t("views.analysis.cross"), "cross"]],
              { selected: params[:method] }, onchange: "this.form.requestSubmit()",
              class: "form-select" %>
          <% else %>
            <%= form.select :method, [[t("views.analysis.pattern"), "pattern"],
              [t("views.analysis.correct_ratios"), "correct_ratios"],
              [t("views.analysis.categories"), "categories"],
              [t("views.analysis.histogram"), "histogram"],
              [t("views.analysis.cross"), "cross"]],
              { selected: params[:method] }, onchange: "this.form.requestSubmit()",
              class: "form-select" %>
          <% end %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label t("views.comparator"),
          class: "col-sm-3 col-form-label text-end" %>
        <div class="col-sm-9">
          <%= form.select :comparator,
            grouped_options_for_select(@comparators, params[:comparator]),
            {}, onchange: "this.form.requestSubmit()",
            class: "form-select" %>
        </div>
      </div>

      <div class="tb-3">
        <%= form.submit class: "btn btn-primary col-4 offset-4" %>
      </div>
    <% end %>
  </div>
</div>

<% if params[:commit] %>
  <% case params[:method] when "patterns" %>
    <%= render "patterns" %>
  <% when "correct_ratios" %>
    <%= render "correct_ratios" %>
  <% when "categories" %>
    <%= render "categories" %>
  <% when "histogram" %>
    <%= render "histogram" %>
  <% when "cross" %>
    <%= render "cross" %>
  <% end %>
<% end %>
