<div class="d-flex justify-content-between flex-wrap flex-md-nowrap
  align-items-center pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to root_path do %>
          <i class="bi bi-house-door"></i>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('views.data_analysis') %>
      </li>
    </ol>
  </nav>
</div>

<div class="card mb-3">
  <div class="card-header">
    <%= t('views.data_analysis') %>
  </div>
  <div class="card-body">
    <%= form_with(method: :get, url: analyze_surveys_path) do |form| %>
      <div class="row mb-3">
        <%= form.label t('activerecord.models.survey'),
          class: 'col-3 col-form-label text-end' %>
        <div class="col-9">
          <%= form.select :survey_id, @surveys.pluck(:name, :id),
            { selected: params[:survey_id] }, onchange: 'this.form.requestSubmit()',
            class: 'form-select' %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label t('activerecord.attributes.survey.grades'),
          class: 'col-3 col-form-label text-end' %>
        <div class="col-9">
          <%= form.select :grade, @survey.grades.map { |grade|
            [t("views.grade_#{grade}"), grade] },
            { selected: params[:grade] }, onchange: 'this.form.requestSubmit()',
            class: 'form-select' %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label t('activerecord.attributes.survey.subjects'),
          class: "col-3 col-form-label text-end" %>
        <div class="col-9">
          <%= form.select :subject, @survey.subjects.map { |subject|
            [t("views.subject_#{subject}"), subject] },
            { selected: params[:subject] }, onchange: 'this.form.requestSubmit()',
            class: 'form-select', disabled: params[:method] == 'cross' %>
          <% if params[:method] == 'cross' %>
            <%= form.hidden_field :subject, value: params[:subject] %>
            <div class="form-text">
              <%= t('views.analysis.hint_for_changing_subjects') %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row mb-2">
        <%= form.label t('views.attributes'),
          class: 'col-3 col-form-label text-end' %>
        <div class="col-9">
          <% @student_attributes.each_with_index do |options, i| %>
            <%= select_tag('student_attributes[]',
              options_for_select(options, params[:student_attributes].nil? ?
                0 : params[:student_attributes][i]),
              onchange: 'this.form.requestSubmit()',
              class: 'form-select mb-2') %>
          <% end %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label t('views.analysis_method'),
          class: 'col-3 col-form-label text-end' %>
        <div class="col-9">
          <% if params[:subject] == "6" %>
            <%= form.select :method, [[t("views.analysis.patterns"), "patterns"],
              [t("views.analysis.cross"), "cross"]],
              { selected: params[:method] }, onchange: "this.form.requestSubmit()",
              class: "form-select" %>
          <% else %>
            <%= form.select :method, [[t("views.analysis.patterns"), "patterns"],
              [t("views.analysis.correct_rates"), "correct_rates"],
              [t("views.analysis.categories"), "categories"],
              [t("views.analysis.histogram"), "histogram"],
              [t("views.analysis.cross"), "cross"]],
              { selected: params[:method] }, onchange: "this.form.requestSubmit()",
              class: "form-select" %>
          <% end %>
        </div>
      </div>

      <% if params[:method] == 'cross' %>
        <div class="row mb-3">
          <%= form.label t('views.analysis.cross'),
            class: 'col-3 col-form-label text-end' %>
          <div class="col-9">
            <%= form.select :cross1,
              options_for_select(@survey.cross_questions(params[:grade].to_i),
                params[:cross1]),
              {}, onchange: 'this.form.requestSubmit()',
              class: 'form-select mb-2' %>
            <%= form.select :cross2,
              options_for_select(@survey.cross_questions(params[:grade].to_i),
                params[:cross2]),
              {}, onchange: 'this.form.requestSubmit()',
              class: 'form-select mb-2' %>
            <div class="form-text">
              <%= t('views.analysis.hint_for_changing_grades') %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row mb-3">
          <%= form.label t('views.comparator'),
            class: 'col-3 col-form-label text-end' %>
          <div class="col-9">
            <%= form.select :comparator,
              grouped_options_for_select(@comparators, params[:comparator]),
              {}, onchange: 'this.form.requestSubmit()',
              class: 'form-select' %>
          </div>
        </div>
      <% end %>

      <div class="tb-3">
        <button class="btn btn-primary col-4 offset-4" name="commit" value="true">
          <span class="show-when-enabled"><%= t('views.analyze') %></span>
          <span class="show-when-disabled">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <%= t('views.processing') %>...
          </span>
        </button>
      </div>
    <% end %>
  </div>
</div>

<% if params[:commit] %>
  <% if @error %>
    <div class="alert alert-danger">
      <%= t('views.analysis.error_occurred') %><br />
      <%= @error %>
    </div>
  <% elsif params[:method] == 'patterns' and @result %>
    <%= render 'patterns' %>
  <% elsif params[:method] == 'correct_rates' and @result %>
    <%= render 'correct_rates' %>
  <% elsif params[:method] == 'categories' and @result %>
    <%= render 'categories' %>
  <% elsif params[:method] == 'histogram' and @result %>
    <%= render 'histogram' %>
  <% elsif params[:method] == 'cross' and @cross %>
    <%= render 'cross' %>
  <% else %>
    <div class="alert alert-danger">
      <%= t('messages.analysis_data_not_found') %>
    </div>
  <% end %>
<% end %>
