<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to root_path do %>
          <i class="bi bi-house-door"></i>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t("activerecord.models.survey") %>
      </li>
    </ol>
  </nav>
</div>

<div class="card">
  <div class="card-header">
    <%= t("activerecord.models.survey") %>
  </div>
  <div class="card-body">
    <% if @surveys.size > 0 %>
      <div id="surveys" class="list-group">
        <% @surveys.each do |survey| %>
          <%= link_to survey, class: 'list-group-item list-group-item-action d-flex justify-content-between' do %>
            <%= survey.name %>
            <% if survey.submittable %>
              <div>
                <span class="badge bg-success">
                  <%= t('views.submittable') %>
                </span>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-danger show" role="alert">
        <%= t('views.no_data') %>
      </div>
    <% end %>
  </div>
</div>
